.App {
  text-align: center;
  font-size: 25px;
  margin-bottom: 50px;
}

.uls {
  width: 70px;
  margin: 0 auto;
}

select {
  margin-bottom: 80px;
  margin-top: 30px;
  font-size: 25px;
}

h1 {
  margin-bottom: 80px;
  text-decoration: underline;
}

select:focus {
  outline: none;
}
